.adv-search {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.adv-search .overlap-wrapper {
  background-color: #ffffff;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 1440px;
  height: 5521px;
}

.adv-search .overlap {
  position: relative;
  width: 1442px;
  height: 5521px;
}

.adv-search .copywright-footer {
  position: absolute;
  width: 1442px;
  height: 5521px;
  top: 0;
  left: 0;
}

.adv-search .overlap-group {
  position: relative;
  height: 5522px;
  left: -1px;
}

.adv-search .background {
  position: absolute;
  width: 1440px;
  height: 5467px;
  top: 0;
  left: 1px;
  object-fit: cover;
}

.adv-search .copyrights {
  position: absolute;
  width: 1442px;
  height: 153px;
  top: 5369px;
  left: 0;
  background-color: #000000;
  border: 1px solid;
  border-color: #000101;
}

.adv-search .text-wrapper {
  position: absolute;
  width: 570px;
  top: 5401px;
  left: 44px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #a1a1a1;
  font-size: 21px;
  letter-spacing: 0;
  line-height: 87px;
  white-space: nowrap;
}

.adv-search .footer {
  position: absolute;
  width: 1440px;
  height: 571px;
  top: 4724px;
  left: 0;
}

.adv-search .layer {
  width: 174px;
  height: 173px;
  top: 0;
  left: 633px;
  position: absolute;
  object-fit: cover;
}

.adv-search .e-lib {
  position: absolute;
  width: 364px;
  height: 393px;
  top: 178px;
  left: 1080px;
}

.adv-search .div {
  position: relative;
  width: 360px;
  height: 393px;
}

.adv-search .news-feed-careers {
  position: absolute;
  width: 360px;
  top: 0;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #c0bebe;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 59.7px;
}

.adv-search .text-wrapper-2 {
  position: absolute;
  width: 136px;
  top: 23px;
  left: 134px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #51d79c;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 80px;
}

.adv-search .track {
  position: absolute;
  width: 364px;
  height: 393px;
  top: 178px;
  left: 550px;
}

.adv-search .p {
  position: absolute;
  width: 360px;
  top: 0;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #c1bfbf;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 59.7px;
}

.adv-search .text-wrapper-3 {
  position: absolute;
  width: 83px;
  top: 23px;
  left: 138px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #51d79c;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 80px;
}

.adv-search .book {
  position: absolute;
  width: 364px;
  height: 354px;
  top: 178px;
  left: 0;
}

.adv-search .overlap-2 {
  position: relative;
  width: 360px;
  height: 354px;
}

.adv-search .text-wrapper-4 {
  position: absolute;
  width: 79px;
  top: 23px;
  left: 141px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #51d79c;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 80px;
}

.adv-search .find {
  position: absolute;
  width: 1396px;
  height: 949px;
  top: 3708px;
  left: 22px;
}

.adv-search .ebook {
  position: absolute;
  width: 452px;
  height: 623px;
  top: 326px;
  left: 944px;
  background-image: url(./img/layer-16-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.adv-search .ebook-text {
  position: relative;
  width: 399px;
  height: 203px;
  top: 337px;
  left: 19px;
}

.adv-search .COURSE-MATERIALS {
  position: absolute;
  width: 320px;
  top: 152px;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 31px;
}

.adv-search .text-wrapper-5 {
  position: absolute;
  width: 280px;
  top: 87px;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 31px;
  white-space: nowrap;
}

.adv-search .text-wrapper-6 {
  position: absolute;
  width: 393px;
  top: 0;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 69px;
  letter-spacing: 2.76px;
  line-height: 83px;
  white-space: nowrap;
}

.adv-search .track-text-wrapper {
  position: absolute;
  width: 452px;
  height: 623px;
  top: 326px;
  left: 470px;
  background-image: url(./img/layer-16-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.adv-search .track-text {
  position: relative;
  width: 368px;
  height: 294px;
  top: 288px;
  left: 8px;
}

.adv-search .OF-THE-WAY-WITH-OUR {
  position: absolute;
  width: 316px;
  top: 243px;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 31px;
}

.adv-search .text-wrapper-7 {
  position: absolute;
  width: 357px;
  top: 173px;
  left: 5px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 31px;
  white-space: nowrap;
}

.adv-search .TRACK-ORDORS {
  position: absolute;
  width: 347px;
  top: 0;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 69px;
  letter-spacing: 2.76px;
  line-height: 83px;
}

.adv-search .BOOK-text-wrapper {
  position: absolute;
  width: 452px;
  height: 623px;
  top: 326px;
  left: 0;
  background-image: url(./img/layer-16.png);
  background-size: cover;
  background-position: 50% 50%;
}

.adv-search .BOOK-text {
  position: relative;
  width: 361px;
  height: 185px;
  top: 371px;
  left: 21px;
}

.adv-search .text-wrapper-8 {
  position: absolute;
  width: 347px;
  top: 160px;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 31px;
  white-space: nowrap;
}

.adv-search .text-wrapper-9 {
  position: absolute;
  width: 355px;
  top: 90px;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 31px;
  white-space: nowrap;
}

.adv-search .BOOK-text-2 {
  position: absolute;
  width: 246px;
  top: 0;
  left: 2px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 69px;
  letter-spacing: 2.76px;
  line-height: 83px;
  white-space: nowrap;
}

.adv-search .text {
  position: absolute;
  width: 1026px;
  height: 234px;
  top: 0;
  left: 21px;
}

.adv-search .GET-ALL-YOU-NEED-FOR {
  position: absolute;
  width: 901px;
  top: 144px;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0.88px;
  line-height: 55px;
}

.adv-search .text-wrapper-10 {
  position: absolute;
  width: 667px;
  top: 0;
  left: 355px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 47px;
  text-align: center;
  letter-spacing: 1.88px;
  line-height: 62px;
  white-space: nowrap;
}

.adv-search .top {
  position: absolute;
  width: 1399px;
  height: 237px;
  top: 38px;
  left: 0;
}

.adv-search .overlap-3 {
  position: relative;
  height: 237px;
}

.adv-search .top-links {
  position: absolute;
  width: 1399px;
  height: 237px;
  top: 0;
  left: 0;
}

.adv-search .links {
  display: flex;
  width: 1399px;
  height: 237px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 98px;
  position: relative;
}

.adv-search .home {
  display: flex;
  width: 210px;
  height: 70px;
  align-items: center;
  justify-content: center;
  gap: 78px;
  padding: 11px 15px;
  position: relative;
  background-color: #018854;
}

.adv-search .text-wrapper-11 {
  position: relative;
  width: fit-content;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 52px;
  text-align: center;
  letter-spacing: 6.76px;
  line-height: 41.9px;
  white-space: nowrap;
}

.adv-search .interest {
  display: flex;
  width: 302px;
  height: 69px;
  align-items: center;
  justify-content: center;
  gap: 78px;
  padding: 11px 15px;
  position: relative;
  background-color: #018854;
}

.adv-search .course {
  display: flex;
  width: 249px;
  height: 69px;
  align-items: center;
  justify-content: center;
  gap: 78px;
  padding: 11px 15px;
  position: relative;
  background-color: #018854;
}

.adv-search .cart {
  position: relative;
  width: 65.5px;
  height: 46.53px;
  background-image: url(./img/cart.png);
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
}

.adv-search .big-logo {
  position: absolute;
  width: 125px;
  height: 144px;
  top: 0;
  left: 100px;
  object-fit: cover;
}

.adv-search .advance-search {
  position: absolute;
  width: 224px;
  height: 67px;
  top: 134px;
  left: 1035px;
}

.adv-search .advance-scrolldown {
  width: 226px;
  height: 67px;
}

.adv-search .div-wrapper {
  position: relative;
  width: 245px;
  height: 67px;
  background-color: #868585;
  border: 1px solid;
  border-color: #707070;
}

.adv-search .text-wrapper-12 {
  position: absolute;
  width: 199px;
  top: 18px;
  left: 12px;
  -webkit-text-stroke: 1px #707070;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
  cursor: pointer;
}

.adv-search .search-bar {
  position: absolute;
  width: 634px;
  height: 97px;
  top: 119px;
  left: 371px;
  background-color: #ffffff;
  border-radius: 35px;
  border: 1px solid;
  border-color: #707070;
}

.adv-search .text-wrapper-13 {
  position: absolute;
  height: 82px;
  top: 5px;
  left: 22px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #00000033;
  border-color: transparent;
  font-size: 46px;
  letter-spacing: 0;
  line-height: 82px;
  white-space: nowrap;
}

.adv-search .img {
  width: 41px;
  height: 54px;
  top: 21px;
  left: 561px;
  position: absolute;
  object-fit: cover;
}

.adv-search .lable {
  position: absolute;
  width: 1442px;
  height: 3300px;
  top: 335px;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.adv-search .overlap-4 {
  position: relative;
  width: 1440px;
  height: 104px;
}

.adv-search .text-wrapper-15 {
  position: absolute;
  width: 594px;
  top: 0;
  left: 20px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 2.56px;
  line-height: normal;
}

.adv-search .rectangle {
  position: absolute;
  width: 1440px;
  height: 24px;
  top: 80px;
  left: 0;
  background-color: #000000;
}

.results {
  position: relative;
  width: 1400px;
  height: 32px;
  top: 12px;
  left: 20px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
}

.box {
  position: relative;
  width: 561px;
  height: 394px;
}

.box .book-preview {
  position: relative;
  width: 1400px;
  height: 394px;
  clear: both;
  background-color: #72727221;
  border-radius: 5px;
  border-color: #9747ff;
}

.box .book-page {
  position: relative;
  width: 1400px;
  height: 600px;
  left: 50px;
  right: 50px;
  clear: both;
  background-color: #3c3a3a;
  border-radius: 5px;
  border-color: #9747ff;
}

.box .property-rectangle {
  position: absolute;
  width: 260px;
  height: 333px;
  top: 20px;
  left: 20px;
  background-size: cover;
  background-position: 50% 50%;
}

.box .property-book {
  width: 232px;
  top: 0;
  position: absolute;
  height: 82px;
  left: 309px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.box .property-book2 {
  width: 232px;
  top: 0;
  position: absolute;
  height: 82px;
  left: 309px;
  white-space: nowrap;
}

.box .text-wrapper-30 {
  position: absolute;
  height: 89px;
  width: 1100px;
  top: 0px;
  left: 0px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  letter-spacing: 0;
  line-height: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.box .text-wrapper-31 {
  position: absolute;
  height: 89px;
  width: 1100px;
  top: 0px;
  left: 0px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 100px;
  white-space: nowrap;
}

.box .text-wrapper-32 {
  position: absolute;
  height: 180px;
  width: 1080px;
  top: 15px;
  left: 0px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  line-height: 60px;
  white-space: break-spaces;
}

.box .author {
  position: absolute;
  width: 800px;
  height: 32px;
  top: 85px;
  left: 309px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}

.box .author2 {
  position: absolute;
  width: 900px;
  height: 32px;
  top: 150px;
  left: 309px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
}

.box .property-desc {
  position: absolute;
  width: 900px;
  height: 32px;
  top: 190px;
  left: 309px;
  font-family: "Open Sans", Helvetica;
  font-weight: 350;
  color: #ffffff;
  font-size: 25px;
  line-height: 33px;
}

.box .property-isbn {
  position: absolute;
  width: 300px;
  height: 32px;
  top: 340px;
  left: 309px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}

.box .property-edition {
  position: absolute;
  width: 164px;
  height: 32px;
  top: 340px;
  left: 800px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}

.box .publisher {
  position: absolute;
  width: 500px;
  height: 32px;
  top: 385px;
  left: 309px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}

.box .bookYear {
  position: absolute;
  width: 164px;
  height: 32px;
  top: 385px;
  left: 800px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}

.box .property-frame {
  position: absolute;
  width: 164px;
  height: 32px;
  top: 120px;
  left: 309px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}

.box .property-frame2 {
  position: absolute;
  width: 164px;
  height: 32px;
  top: 430px;
  left: 309px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}

.box .property-level {
  position: absolute;
  width: 164px;
  height: 32px;
  top: 120px;
  left: 800px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}

.box .property-level2 {
  position: absolute;
  width: 164px;
  height: 32px;
  top: 430px;
  left: 800px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}

.box .major {
  position: absolute;
  width: 400px;
  height: 32px;
  top: 160px;
  left: 309px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}

.box .major2 {
  position: absolute;
  width: 400px;
  height: 32px;
  top: 480px;
  left: 309px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}

.box .subject {
  position: absolute;
  width: 500px;
  height: 32px;
  top: 160px;
  left: 800px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}

.box .subject2 {
  position: absolute;
  width: 500px;
  height: 32px;
  top: 480px;
  left: 800px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}

.box .property {
  width: 27px;
  top: 173px;
  position: absolute;
  height: 82px;
  left: 309px;
}

.box .property2 {
  width: 27px;
  top: 500px;
  position: absolute;
  height: 82px;
  left: 309px;
}

.box .property-add-cart {
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  top: 255px;
  left: 297px;
}

.box .add-cart {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 28px;
  position: relative;
  flex: 0 0 auto;
  background-color: #8e9bb0;
  border-radius: 30px;
  overflow: hidden;
}

.box .div2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  border-color: transparent;
  font-size: 33px;
  text-align: center;
  letter-spacing: 1.32px;
  line-height: normal;
  cursor: pointer;
}
