:root {
  --open-sans-regular-60px-font-family: "OpenSans-Regular", Helvetica;
  --open-sans-regular-60px-font-weight: 400;
  --open-sans-regular-60px-font-size: 60px;
  --open-sans-regular-60px-letter-spacing: 2.4px;
  --open-sans-regular-60px-line-height: normal;
  --open-sans-regular-60px-font-style: normal;
}
